@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap");
@layer base {
  :root {
    /* COLORS */
    --color-neutral-900: #062630;
    --color-neutral-700: #385159;
    --color-neutral-200: #e6e1df;
    --color-neutral-100: #faf5f3;
    --color-neutral-0: #ffffff;

    --color-salmon-500: #fea36f;
    --color-salmon-100: #ffe2d1;
    --color-salmon-50: #fff5ef;

    /* Gradient */
    --gradient-txt: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    --gradient-bg: linear-gradient(360deg, #ffe2d1 0%, #fff5ef 0%);

    /* SPACING */
    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    /* BORDER RADIUS */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Martian Mono", monospace;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 100vh;
  background-image: url("./assets/PatternLight.png"), var(--gradient-bg);
}

.heroImg {
  width: 540px;
  height: 606px;
  object-fit: contain;
}

.hero-txt {
  font-size: 65px;
  background: var(--gradient-txt);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: var(--color-salmon-50);
  color: var(--color-neutral-900);
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  gap: 6px;
  border: 2px solid var(--color-neutral-900);
  box-shadow: none;
  text-shadow: none;
  margin-top: 32px;
}

.hero-desc {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-neutral-700);
  margin-top: 20px;
  letter-spacing: -0.5px;
  line-height: 140%;
  width: 570px;
}

.left-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-grow: 1;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.review-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviews-desc {
  font-size: 12px;
}

.main-container-1 {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 1170px;
  display: flex;
  align-items: center;
}
.left-main-container {
  margin-right: 80px;
}
.image1 {
  display: block;
  max-width: 560px;
  width: 100%;
  height: auto;
}

.main-container-heading {
  font-size: 50px;
  font-weight: 600;
}

.right-main-container {
  max-width: 530px;
}

.bullet-points {
  max-width: 431px;
}

.main-container-2 {
  max-width: 1170px;
  display: flex;
  align-items: center;
  position: relative;
}

.tech-logo-container {
  position: absolute;
  right: 450px;
  top: 350px;
}

.main-container-2-txt-container {
  margin: 127px auto;
}

.main-container-2-desc {
  position: relative;
  margin-top: 24px;
}
.cirlce-highlight {
  position: absolute;
  top: -87px;
  left: 132px;
}

.reading-journey-container {
  margin-top: 120px;
  min-height: 454px;
  background-image: url("./assets/PatternLight.png"), var(--gradient-bg);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.reading-journey-heading-container {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
.step-container {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  gap: 2rem;
}

.number-and-arrow-container {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-desc {
  font-size: 18px;
}

.membership-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 970px;
}

.membership-card-container {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  gap: 24px;
}

.membership-card {
  border-radius: 12px;
  border: 1px solid var(--color-neutral-200);
  padding: 24px;
}
