@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --color-neutral-900: #062630;
    --color-neutral-700: #385159;
    --color-neutral-200: #e6e1df;
    --color-neutral-100: #faf5f3;
    --color-neutral-0: #ffffff;

    --color-salmon-500: #fea36f;
    --color-salmon-100: #ffe2d1;
    --color-salmon-50: #fff5ef;

    /* Gradient */
    --gradient-txt: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    --gradient-bg: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

    /* SPACING */
    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    /* BORDER RADIUS */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px; /* This is a common value for a fully rounded shape */
  }
}
